.principal-container {
  /* Este contiene el ias y su ouput. Ias esta separado del output adentro de principal container */
}
.ias-all-content-container {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 960px) {
  .ias-all-content-container {
    height: calc(100vh - 94px);
  }
}
.ias__button {
  width: 100%;
  height: 61px;
}
.ias__button--inbox {
  background-color: #393939;
}
.ias__button--sent {
  background-color: #888888;
}
.output-inbox-and-sent {
  background-color: #fff59b;
  height: 100vh;
}
