* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  background-color: blue;
}
.header--all-content-container {
  display: grid;
  gap: 13px;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 25px 19px;
}
.header--logo-container {
  display: flex;
  align-items: center;
}
.header--logo {
  width: 62px;
  padding-top: 20px;
}
.header--input-container {
}
.header__input {
  height: 44px;
  font-size: 32px;
  width: 100%;
  padding: 2px;
}
.header--button-container {
}
.header__button--buscar {
  height: 44px;
  padding: 10px;
}
